@using System.Collections.Generic
@using Base64Image

<div class="row">
    @Html.Base64ImageElement("iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAHElEQVQI12P4//8/w38GIAXDIBKE0DHxgljNBAAO9TXL0Y4OHwAAAABJRU5ErkJggg == ")
    @Html.Base64ImageFromFile("/Content/PIFN0.jpg")
    @Html.Base64ImageFromFile("/Content/code-flat.png", new Dictionary<string, string> { { "class", "dottedBorder" }, { "id", "codeImage" } })
    @Html.Base64ImageFromFile("/Content/animation.gif")
</div>